<div class="navbar-container">
  <app-navbar></app-navbar>
  <div class="dropdown-container">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        Opcije
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li *ngIf="roleNow ==='ADMIN' || isExist"><a class="dropdown-item" (click)="openAddWorkDayModal()">Dodaj radni dan</a></li>
        <li *ngIf="roleNow ==='ADMIN'"><a class="dropdown-item" (click)="openDeleteWorkDayModal()">Obriši radni dan</a></li>
        <li><a class="dropdown-item" (click)="openAddExerciseModalOpen()">Dodaj rezervaciju</a></li>
        <li *ngIf="roleNow ==='ADMIN' || isExist"><a class="dropdown-item" (click)="openChangeFacility()">Izmjeni facility</a></li>
        <li *ngIf="roleNow ==='ADMIN'"><a class="dropdown-item" (click)="openDeleteFacilityModal()">Obriši facility</a></li>
        <li *ngIf="roleNow ==='ADMIN'"><a class="dropdown-item" (click)="openListManagerInFacilityModal()">Dodaj Menadzera</a></li>
        <li *ngIf="roleNow ==='ADMIN'"><a class="dropdown-item" (click)="deleteManagerInFacilityModal()">Ukloni Menadzera</a></li>
        <li><a class="dropdown-item" (click)="logout()">Odjavi se</a></li>
      </ul>
    </div>
  </div>
</div>


<div class="container mt-4">
  <div class="row justify-content-center">
    
    <div class="col-md-6 facility-info">
      <app-facility-base-information></app-facility-base-information>
    </div>

    
    <div class="col-md-6 work-day">
      <app-work-day></app-work-day>
    </div>
  </div>



<div class="modal" tabindex="-1" [class.show]="isDeleteFacilityModalOpen" [style.display]="isDeleteFacilityModalOpen ? 'block' : 'none'">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Potvrda brisanja</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeDeleteFacilityModal()"></button>
      </div>
      <div class="modal-body">
        Da li ste sigurni?
      </div>
      <div class="modal-footer">
        <div class="d-flex justify-content-center w-100">
          <button type="button" class="btn btn-warning mx-1 btn btn-danger" (click)="closeDeleteFacilityModal()">Ne</button>
          <button type="button" class="btn btn-success mx-1" (click)="deleteFacility()">Da</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal za potvrdu brisanja -->
<div class="modal" tabindex="-1" [class.show]="isDeleteManagerModalOpen" [style.display]="isDeleteManagerModalOpen ? 'block' : 'none'">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Potvrda brisanja</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeDeleteManagerModal()"></button>
      </div>
      <div class="modal-body">
        Da li ste sigurni da želite da uklonite menadžera?
      </div>
      <div class="modal-footer">
        <div class="d-flex justify-content-center w-100">
          <button type="button" class="btn btn-warning mx-1" (click)="closeDeleteManagerModal()">Ne</button>
          <button type="button" class="btn btn-danger mx-1" (click)="deleteManager()">Da</button>
        </div>
      </div>
    </div>
  </div>
</div>





  


<div class="modal" tabindex="-1" [class.show]="isAddWorkDayModalOpen" [style.display]="isAddWorkDayModalOpen ? 'block' : 'none'">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Dodaj radni dan</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeAddWorkDayModal()"></button>
      </div>
      <div class="modal-body">
        <app-work-day-add></app-work-day-add>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeAddWorkDayModal()">Zatvori</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" [class.show]="isAddExerciseModalOpen" [style.display]="isAddExerciseModalOpen ? 'block' : 'none'">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Rezervisi termin</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeAddExerciseModalOpen()"></button>
      </div>
      <div class="modal-body">
        <app-exercise-add (exerciseCreated)="onExerciseCreated()"></app-exercise-add>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeAddExerciseModalOpen()">Zatvori</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" [class.show]="isAddReviewModal" [style.display]="isAddReviewModal ? 'block' : 'none'">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ostavi utisak</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeAddReviewModal()"></button>
      </div>
      <div class="modal-body">
        <app-review-add (reviewCreated)="onReviewCreated()"></app-review-add> <!-- Ovde slušate događaj -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeAddReviewModal()">Zatvori</button>
      </div>
    </div>
  </div>
</div>






<div class="modal" tabindex="-1" [class.show]="isDeleteWorkDayModalOpen" [style.display]="isDeleteWorkDayModalOpen ? 'block' : 'none'">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Obriši radni dan</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeDeleteWorkDayModal()"></button>
      </div>
      <div class="modal-body">
        <app-work-day-delete></app-work-day-delete>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeDeleteWorkDayModal()">Zatvori</button>
      </div>
    </div>
  </div>
</div>

 
  <div class="row mt-4 justify-content-center">
    <div class="col-md-10">
      <button type="button" class="btn btn-primary" (click)="openAddReviewModal()">Dodaj utisak</button> 
      <br>
      <app-review-list></app-review-list>
    </div>
  </div>
</div>






  
  