<div class="container mt-4 workDay">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="work-hours-container border rounded p-3">
        <h3 class="headline">Radno vrijeme</h3>
        <div class="work-hours">
          <div *ngFor="let workday of workDays" class="mb-2">
            <div *ngIf="workday" class="work-hour d-flex justify-content-between p-2 border rounded">
              <span class="day">{{ workday.day }}</span>
              <!-- <br>
              <span class="day">|{{ workday.validFrom }}|</span>
              <br> -->
              <span class="clock">{{ formatTime(workday.from) }} - {{ formatTime(workday.until) }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
